@page "/"

<PageTitle>Markdown Editor</PageTitle>

<h1>My Hello, world for Blazor!</h1>

<br>
<br>

<p>Simple sample for a Markdown Editor</p>
<p>Done as a PoC for playing a bit with <strong>Blazor</strong> and 
<a href="https://github.com/xoofx/markdig" alt="Markdig">Markdig</a>. Try it out with the 
following <strong>Markdown Cheatsheet:</strong> 
<a target="blank" href="https://www.markdownguide.org/cheat-sheet">Markdown Guide - Cheat Sheet</a></p>
<br />
<p>Just for fun.</p>