@page "/mdcontainer"

<PageTitle>Markdown Editor</PageTitle>

@using Markdig
@using BlazorApp.Data

<h1>Markdown Editor Example</h1>

<div>
    <br/>
    <dl>
    <dt>Blocks</dt>
    <dd>Create by blocks your <strong>Markdown</strong> file.</dd>
    <dt>Logical Structure</dt>
    <dd>Create as appropiate the blocks composing your document.</dd>
    <dt>Usage</dt>
    <dd>Inside a block you can add new lines pressing <kbd><kbd>ctrl</kbd> + <kbd>enter</kbd></kbd></dd>
    <dd>Inside a block you can add <strong>tabs</strong> pressing <kbd>tab</kbd>. <em>(todo: reset cursor position)</em></dd>
    </dl>

    <br />

    <MDEditor MDMarkdownChangedNotification="MarkdownChanged"  />
    <br/>

    <h2>Full Markdown code</h2>

    <br />

    <p class="text-success"><em>@lastEditedMessage</em></p>

    <MDFullViewer Model="@Model" />
</div>

@code {   
    private MDBlockModel Model { get; set; } = new MDBlockModel(new List<MDBlock>() { new MDBlock(0,"# Test"), new MDBlock(1,"## Test 2"), new MDBlock(2,"### Test 3") });

    private string lastEditedMessage = string.Empty;

    private void MarkdownChanged(MDBlockModel lastMarkDown)
    {
        this.Model = lastMarkDown;
        lastEditedMessage = $"Edited on {DateTime.Now.ToLongTimeString()} at block #{lastMarkDown.LastEditedBlock?.Position}";
    }
}
