@using BlazorApp.Data

<p>
    <textarea 
        class="form-control" 
        rows="@rows"
        @bind-value:event="oninput" 
        @bind-value="Block.Content" 
        @onkeydown="NotifyMDBlockEdited" 
        @onkeydown:preventDefault="useTab" />
</p>


@code {
    [Parameter]
    public MDBlock Block { get; set; }

    private int rows { 
        get 
        {
            return Block.Content.Split("\n").Count() + 1;
        }
        set
        {

        }
    }

    [Parameter]
    public EventCallback<MDBlock> MDBlockEdited { get; set; }

    private bool useTab = false;
    private bool shiftMode = false;
    private DateTime? shiftModeTime = null;

    private void CleanTailingNewLines()
    {
        while(  Block.Content.EndsWith('\r') ||
                Block.Content.EndsWith('\n'))
        {
            Block.Content = Block.Content.TrimEnd('\r', '\n');
        }
    }

    private void NotifyMDBlockEdited(KeyboardEventArgs e)
    {
        if(e.Key == "Shift")
        {
            useTab = false;
            shiftMode = true;
            shiftModeTime = DateTime.Now;
        }
        else if (e.Key == "Enter")
        {
            if(!shiftMode || (DateTime.Now - shiftModeTime)?.TotalSeconds > 1.5)
            {
                CleanTailingNewLines();
                useTab = false;
                shiftMode = false;
                MDBlockEdited.InvokeAsync(Block);
            }
            else
            {
                useTab = true;
                shiftMode = true;
            }
        }
        else if (e.Key == "Tab")
        {
            useTab = true;
            shiftMode = false;
            Block.Content += "\t";
        }
        else
        {
            useTab = false;
            shiftMode = false;
        }
    }
}