@using BlazorApp.Data

<div class="container-fluid">
Number of Blocks: <input value="@GetNumberOfBlocks()" class="form-control" readonly />
Number of rows: <input value="@GetNumberOfRows()" class="form-control" readonly />
<br />
Code:
<br />
<br />
<p>
    <textarea  
        rows="@GetNumberOfRows()"
        class="form-control"
        readonly
        >@Model.GetMarkdown()</textarea>
</p>
</div>

@code {
    [Parameter]
    public MDBlockModel Model { get; set; } = new MDBlockModel();

    private int GetNumberOfBlocks()
    {
        return Model.GetBlocks().Count();
    }

    private int GetNumberOfRows()
    { 
        return Model.GetMarkdown().Split("\n").Count() + 1;
    }
}