@using Markdig
@using BlazorApp.Data

<div class="px-2" @onclick="NotifyMDLineSelected">
@((MarkupString)HtmlContent)
</div>

@code {
    [Parameter]
    public MDBlock Line { get; set; }

    [Parameter]
    public EventCallback<int> LineSelected { get; set; }

    [Parameter]
    public MarkdownPipeline MDPipeline { get; set; }

    private string HtmlContent { get { return Markdown.ToHtml(Line.Content, MDPipeline); } }

    private void NotifyMDLineSelected(MouseEventArgs e)
    {
        LineSelected.InvokeAsync(Line.Position);
    }
}