@using Markdig
@using BlazorApp.Data

<div class="px-2" @onclick="NotifyMDLineSelected">
@((MarkupString)HtmlContent)
</div>

@code {
    [Parameter]
    public MDBlock? Block { get; set; }

    [Parameter]
    public EventCallback<int> BlockSelected { get; set; }

    [Parameter]
    public MarkdownPipeline? MDPipeline { get; set; }

    private string HtmlContent { get { return Markdown.ToHtml(Block?.Content ?? string.Empty, MDPipeline); } }

    private void NotifyMDLineSelected(MouseEventArgs e)
    {
        BlockSelected.InvokeAsync(Block?.Position ?? -1);
    }
}